<div class="form">
  <form name="birdfeedback" action="/form" method="POST">
      <input name="name" value="Your name">
      <input name="feedback" value="What you want to say :)">
      <button>Send my feedback</button>
    </form>
</div>
<div>
    <p>{{name}}</p>
    <p>{{feedback}}</p>
</div>
